.App {
  font-family: "Californian FB", Futura, sans-serif;
  color: rgb(94, 89, 95);
  /* background-color: #f4f7f5; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  width: 100%;
}

.App-header {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

/* Site Navigation */
nav ul {
  background-color: rgb(240, 236, 236);
  font-size: calc(4px + 2vmin);
  text-transform: uppercase;
  list-style: none;
  position: fixed;
  right: 0;
  padding-right: 70px;
}

nav li {
  color: #999;
  padding: 10px;
  display: inline-block;
}

.home li:hover {
  color: #a9c9bf;
}
.resume li:hover {
  color: #ceabb1;
}
.portfolio li:hover {
  color: #fbd074;
}
.contact li:hover {
  color: #95d8df;
}

footer {
  text-align: center;
  padding-top: 5px;
  border-top: 2px dotted #a7a2a9;
  font-size: 13px;
  color: #999;
}
