.App {
  font-family: "Californian FB", "Rockwell", "sans-serif";
  color: rgb(94, 89, 95);
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  /* background-image: url("../files/13.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
   background-position: top center; */
}

/* Site Navigation */
nav li {
  color: #999;
  padding: 10px;
  display: inline-block;
}

.home li:hover {
  color: #68a190;
}
.resume li:hover {
  /* color: #fa0061; */
  color: #f66598;
}
.portfolio li:hover {
  color: #efa26b;
}
.contact li:hover {
  color: #3a5ee4;
}

footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 2px dotted rgb(94, 89, 95);
  font-size: 0.9rem;
  color: rgb(94, 89, 95);
}
