.contact-title .titleWrapper {
  color: #95d8df;
}

.contact-title .cloneWrapper {
  color: #b6d9dd;
}

.boxes {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(240, 236, 236);
}
