.contact-title .titleWrapper {
  color: #193bb4;
}

.contact-title .cloneWrapper {
  color: #3a5ee4;
}

.boxes {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(240, 236, 236);
}
