.Portfolio {
  font-size: calc(6px + 2vmin);
  padding-top: 90px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.portfolio-title .titleWrapper {
  color: #fbd074;
}

.portfolio-title .cloneWrapper {
  color: #ffeaaf;
}

.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 90%;
  text-align: left;
  margin: 0 auto;
}

.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}

.card .details {
  position: relative;
  padding-top: 25px;
}

.links {
  text-align: center;
}

.links a {
  color: #5e595f;
  text-decoration: none;
}

.links a:hover {
  color: #ac8cbd;
}
