.portfolio-title .titleWrapper {
  color: #fbd074;
}

.portfolio-title .cloneWrapper {
  color: #ffeaaf;
}

.project-name {
  color: #fbd074;
  font-weight: bold;
  font-size: calc(20px + 2vmin);
  float: left;
  vertical-align: middle;
}

.card {
  padding: 15px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
}

.card:hover {
  border-color: transparent;
}

.card .Section {
  padding-top: 25px;
  display: inline;
}

.links {
  text-align: center;
}

.links a {
  color: #5e595f;
  text-decoration: none;
}

.links a:hover {
  color: #fbd074;
}
