.resume-title .titleWrapper {
  color: #f32f72;
}

.resume-title .cloneWrapper {
  color: #f66598;
}

.buttonDowload {
  border-width: 0px;
  background-color: transparent;
  text-align: right;
  margin-bottom: 20px;
}

.cv {
  font-size: calc(6px + 2vmin);
  padding: 50px;
  margin-top: 30px;
  border: 6px ridge rgb(240, 236, 236);
}

h2 {
  background-color: rgb(240, 236, 236);
}

p {
  padding-bottom: 5px;
}

.hoverDownload {
  text-align: center;
  color: #f66598;
  font-weight: bold;
}

.hoverDownload .hide {
  visibility: hidden;
  color: #f66598;
}

.hoverDownload:hover .hide {
  visibility: visible;
}
