.Resume {
  font-family: "Californian FB", Futura, sans-serif;
  font-size: calc(6px + 2vmin);
  padding-top: 20px;
  width: 100%;
}

.Download {
  padding: 4px;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  background-color: #c9abd8;
  display: inline;
}

.button {
  border: 0px;
  border-width: 0px;
  background-color: transparent;
}

.cv {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: calc(6px + 2vmin);
}

h2 {
  background-color: #ebebeb;
  margin-top: 15px;
}

.work-experience,
.‎education‏ {
  line-height: 140%;
}

.time {
  float: right;
  font-size: 16px;
}

.projects-details a {
  color: #ac8cbd;
  font-size: 19px;
  text-decoration: none;
}

.projects-details a:hover {
  color: #6f547e;
}
