.Resume {
  font-size: calc(6px + 2vmin);
  padding-top: 90px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.resume-title .titleWrapper {
  color: #ceabb1;
}

.resume-title .cloneWrapper {
  color: #ebc3ca;
}

.Download {
  padding: 2px;
  font-size: calc(8px + 2vmin);
  color: #ceabb1;
}

.button {
  border-width: 0px;
  background-color: transparent;
  text-align: right;
  margin-bottom: 20px;
}

.cv {
  padding-top: 40px;
  font-size: calc(6px + 2vmin);
}

h2 {
  background-color: #f3e7e9;
}

.work-experience,
.‎education‏ {
  line-height: 140%;
}

.time {
  float: right;
  font-size: 16px;
}

.projects-details a {
  color: #ceabb1;
  font-size: 19px;
}

.projects-details a:hover {
  color: #ebc3ca;
}
