.Home {
  font-family: "Californian FB", Futura, sans-serif;
  font-size: calc(5px + 2vmin);
  color: #5e595f;
  padding-top: 20px;
  width: 100%;
}

.details {
  text-align: center;
  overflow: visible;
  border: 3px solid #afa2ac;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: sticky;
  display: inherit;
}

.basic-details a {
  color: #5e595f;
  text-decoration: none;
}

.basic-details a:hover {
  color: #000;
}

.basic-details text {
  line-height: 170%;
}

.image {
  float: left;
  pointer-events: none;
  /* border-radius: 50%; */
  /* border: 4px double #afa2ac; */
  opacity: 95%;
  border: 2px solid #afa2ac;
  padding: 3px;
  margin-right: 20px;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

.summary {
  padding-right: 50px;
}

.summary p {
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
}

.summary p span {
  display: block;
}
