.Resume {
  font-family: "Californian FB", Futura, sans-serif;
  font-size: calc(6px + 2vmin);
  padding-top: 20px;
  width: 100%;
}

.Download {
  display: flex;
  padding: 4px;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  background-color: #c9abd8;
  display: inline;
}

.cv {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 17px;
}

h2 {
  background-color: #ebebeb;
}

.work-experience,
.‎education‏ {
  line-height: 140%;
}

.work-experience p {
  /* text-align: left; */
  /* font-size: 18px; */
}

.time {
  float: right;
  font-size: 16px;
}

.‎education‏ p {
  font-size: 18px;
}

.list li {
  /* padding-bottom: 8px; */
}

.projects a {
  color: #5e595f;
  font-size: 19px;
}

.projects p {
  line-height: 140%;
}
